.btn {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  background-color: $color-button;
  border-radius: 100px;
  max-width: 12.8rem;
  height: 4.8rem;
  cursor: pointer;
  border: none;

  &__link {
    text-decoration: none;
    color: $color-white;
    font-weight: 700;
    font-size: 1.6rem;
  }

  &:hover {
    background-color: $color-button-hover;
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.3rem 0.5rem rgba($color-black, 0.1);
  }
}
