*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: 1px dashed $color-dark;
  padding: 2rem 6rem;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container {
  width: 144rem;
  margin: 0 auto;
}
